/* ----------------------- VARIABLES ---------------- */

@dark-brown:#3C2424;
@red-light:#D9603B;
@red-lighter:lighten(#D9603B, 30%);
@cream-med:#A58081;
@cream-light:#F6ECE9;
@white:#fff;
@tan:#AB7565;

@font-normal:400;
@font-bold:700;
@font-x-bold:800;

@serif-font-main:'neuton',georgia,serif;
@sans-serif-main:'LeHavreLayers-Primary',sans-serif;

/*----------------------- GLOBAL STYLES -----------------*/

.LeHavreLayers-Primary {
	font-family: 'LeHavreLayers-Primary';
	font-weight: normal;
	font-style: normal;
}

body {
    background:@dark-brown;
    color:@cream-med;
    font-family:@serif-font-main;
    font-size:18px;
}

.header-wrapper {
    background-image:url(../images/page-back-2000x1300.jpg);
    background-size:cover;
}

.connect-wrapper {
  background-color:#2B171A;
  padding:30px 0 50px 0;
  .row {
    text-align: center;
  }
  .col-md-4:first-child {
    border-right:solid 1px @dark-brown;
  }
}

a {
    color:@red-light!important;
    &:hover {
    color:@red-lighter;
    }
}

p {
    margin-bottom:16px;
}

iframe.video {
  border-radius:4px;
}

.main-content {
    margin:100px 0;
}


img.red-flower {
    height:180px;
    width:180px;
    position:absolute;
    display:inline;
    left:0;
    z-index:1;
    top:-70px;
}

.opener {
    text-align:center;
    font-size:28px;
}

h2 {
    font-family:@sans-serif-main;
    text-transform:uppercase;
    letter-spacing:.1em;
    padding:20px 0;
    color:@white;
}

h3 {
    font-family:@sans-serif-main;
    text-transform:uppercase;
    letter-spacing:.1em;
    padding:20px 0;
    color:@white;
}

h4 {
    font-family:@sans-serif-main;
    transform:uppercase;
    letter-spacing:.1em;
    padding:20px 0;
    color:@white;
}

a i.fa {
    color:#fff;
    font-size:32px;
    margin:0 15px;

    &:hover {
    color:@red-light;
    }
}

i.fa.fa-envelope {
    font-size:1.25em;
    margin:0 7px 0 0;
}

.btn-main, #mc-embedded-subscribe.button {
  background: #e87451;
  background-image: -webkit-linear-gradient(top, #e87451, #D9603B);
  background-image: -moz-linear-gradient(top, #e87451, #D9603B);
  background-image: -ms-linear-gradient(top, #e87451, #D9603B);
  background-image: -o-linear-gradient(top, #e87451, #D9603B);
  background-image: linear-gradient(to bottom, #e87451, #D9603B);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 3px 0px #C15433;
  -moz-box-shadow: 0px 3px 0px #C15433;
  box-shadow: 0px 3px 0px #C15433;
  font-family: @sans-serif-main;
    text-transform:uppercase;
    letter-spacing:.1em;
  color: #fff!important;
  font-size: 18px;
  padding: 15px 40px 15px 40px!important;
  text-decoration: none !important;
  display:inline-block;
height:auto!important;
    line-height:auto!important;
  border:0;
    text-align:center;
}

.btn-main:hover, .btn-main:active, .btn-main:visited, #mc-embedded-subscribe.button:hover, #mc-embedded-subscribe.button:active, #mc-embedded-subscribe.button:visited {
  background: #f57858;
    color:#fff;
  background-image: -webkit-linear-gradient(top, #f57858, #eb6c49);
  background-image: -moz-linear-gradient(top, #f57858, #eb6c49);
  background-image: -ms-linear-gradient(top, #f57858, #eb6c49);
  background-image: -o-linear-gradient(top, #f57858, #eb6c49);
  background-image: linear-gradient(to bottom, #f57858, #eb6c49);
  text-decoration: none;
}

.btn-secondary {
  background: #e87451;
  background-image: -webkit-linear-gradient(top, #e87451, #D9603B);
  background-image: -moz-linear-gradient(top, #e87451, #D9603B);
  background-image: -ms-linear-gradient(top, #e87451, #D9603B);
  background-image: -o-linear-gradient(top, #e87451, #D9603B);
  background-image: linear-gradient(to bottom, #e87451, #D9603B);
  -webkit-border-radius: 28;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 0px #C15433;
  -moz-box-shadow: 0px 3px 0px #C15433;
  box-shadow: 0px 3px 0px #C15433;
  font-family: @sans-serif-main;
    text-transform:uppercase;
    letter-spacing:.1em;
  color:@white !important;
  font-size: 15px;
  padding: 8px 16px;
  text-decoration: none !important;
    position:relative;
    top:-7px;
    margin:0 20px;
    display:inline-block;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background: #f57858;
    color:#fff;
  background-image: -webkit-linear-gradient(top, #f57858, #eb6c49);
  background-image: -moz-linear-gradient(top, #f57858, #eb6c49);
  background-image: -ms-linear-gradient(top, #f57858, #eb6c49);
  background-image: -o-linear-gradient(top, #f57858, #eb6c49);
  background-image: linear-gradient(to bottom, #f57858, #eb6c49);
  text-decoration: none;
}

.centered {
    text-align:center;
}

.player {
    margin-top:20px;
		position:relative;
		padding-top:53%;
		padding-left:15px;
		padding-right:15px;

		.video {
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:100%;
			// width:350px;
			// height:205px;
		}
}


.intro {
    background-color:@cream-light;
    background-image:url(../images/flower-watermark.png);
    background-position:100% 75%;
    background-repeat: no-repeat;
    padding:40px 0 60px 0;
    color:@dark-brown;

    .col-md-12 {
    padding-top:30px;
		padding-bottom:50px;
    }

    h2,h3,h4 {
    margin:0 0 10px 0;
    padding:0;
    }

    p {
    font-size:20px;
    }

    .intro-emphasis {

        p {
        font-size:24px;
        font-style:italic;
        padding:0;
        }
    }

    p.verse {
    color:@tan;
    font-style:italic;
    font-size:16px;
    margin-top:40px;
    }
    p.verse-label {
    font-family:@sans-serif-main;
    font-size:13px;
    color:@dark-brown;
    }

    h2,h3,h4 {
    color:@red-light;
    }
}

.footer {
    text-align:center;
    padding: 0;

    p {
    font-family:@sans-serif-main;
        font-size:13px;
        letter-spacing:.2em;
        margin:1em 0 4em;
    }

    img.logos-footer {
    height:50px;
    width:auto;
    margin:40px 30px;
    display:inline-block;
    }
}

/*----------------------- MAILCHIMP FORM -----------------*/

#mc_embed_signup {
    font-family:@sans-serif-main;
    font-weight:300;
    padding:30px 0 50px 0;

    h2 {
    text-align:center;
    color:#fff;
    }

    .mc_embed_subscribe {
    width:100%;
    text-align:center;
    }

    .indicates-required .asterisk {
    color:@red-light;
    }

    .mc-field-group {
        margin:15px 0;
        padding:0;

        label {
        display:inline-block;
        width:32%;
        color:#fff;
        padding:0!important;
        }

        input {
            width:62%;
            display:inline-block;
            border-radius:5px;
            border:0;
            height:40px;
            padding:5px;
            background-color:#845656;
            font-family:@serif-font-main;
            font-size:20px;
            letter-spacing:.05em;
            color:#fff;
            }

        .asterisk {
        display:inline!important;
        color:@red-light;
        }

        .mce_inline_error {
        color:@red-light;
        font-family:@serif-font-main;
        font-style:italic;
        }

        #mce-error-response.response {
        margin:20px 0;
        }

    }
}/*#mc_embed_signup*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F6ECE9 inset;
}

/*----------------------- MEDIA QUERIES -----------------*/


/* Landscape phones and portrait tablets */
@media (max-width: 480px) {
    .logo-wrapper {
    height:400px;
    }

    .family-pict {
    width:500px;
    position:relative;
    z-index: 2;
    margin-bottom:200px;
    }

    .logo {
    z-index: 4;
    width:400px;
    height:auto;
    position:absolute;
    right:0;
    margin-top:0px;
    }

    .intro {
    padding:0 30px;
    }

    #mc_ebed_signup .mc-field-group {
        padding:0!important;

        .asterisk {
        display:inline!important;
        color:@red-light;
        }
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
        .logo-wrapper {
    height:425px;
    }

    .family-pict {
    width:500px;
    position:relative;
    z-index: 2;
    margin-bottom:70px;
    }

    .logo {
    z-index: 4;
    width:400px;
    height:auto;
    position:absolute;
    right:0;
    top:190px;
    }

    .intro {
    padding:0;
    }

}

/* ------------------ Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .family-pict {
    width:500px;
    position:relative;
    z-index: 2;
    margin-bottom:70px;
    }

    .logo {
    z-index: 4;
    width:400px;
    height:auto;
    position:absolute;
    right:0;
    top:100px;
    }

}

/* ------------------ Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .family-pict {
    width:650px;
    position:relative;
    z-index: 2;
    margin-bottom:70px;
    }

    .logo {
    z-index: 4;
    width:500px;
    height:auto;
    position:absolute;
    right:0;
    top:100px;
    }
}


/* ------------------ Large desktops and laptops -- */
@media (min-width: 1200px) {

    .family-pict {
    width:800px;
    position:relative;
    z-index: 2;
    margin-bottom:70px;
    }

    .logo {
    z-index: 4;
    width:550px;
    height:auto;
    position:absolute;
    right:0;
    top:100px;
    }

}
