/* ----------------------- VARIABLES ---------------- */
/*----------------------- GLOBAL STYLES -----------------*/
.LeHavreLayers-Primary {
  font-family: 'LeHavreLayers-Primary';
  font-weight: normal;
  font-style: normal;
}
body {
  background: #3c2424;
  color: #a58081;
  font-family: 'neuton', georgia, serif;
  font-size: 18px;
}
.header-wrapper {
  background-image: url(../images/page-back-2000x1300.jpg);
  background-size: cover;
}
.connect-wrapper {
  background-color: #2B171A;
  padding: 30px 0 50px 0;
}
.connect-wrapper .row {
  text-align: center;
}
.connect-wrapper .col-md-4:first-child {
  border-right: solid 1px #3c2424;
}
a {
  color: #d9603b !important;
}
a:hover {
  color: #f2c8bb;
}
p {
  margin-bottom: 16px;
}
iframe.video {
  border-radius: 4px;
}
.main-content {
  margin: 100px 0;
}
img.red-flower {
  height: 180px;
  width: 180px;
  position: absolute;
  display: inline;
  left: 0;
  z-index: 1;
  top: -70px;
}
.opener {
  text-align: center;
  font-size: 28px;
}
h2 {
  font-family: 'LeHavreLayers-Primary', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 20px 0;
  color: #ffffff;
}
h3 {
  font-family: 'LeHavreLayers-Primary', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 20px 0;
  color: #ffffff;
}
h4 {
  font-family: 'LeHavreLayers-Primary', sans-serif;
  transform: uppercase;
  letter-spacing: .1em;
  padding: 20px 0;
  color: #ffffff;
}
a i.fa {
  color: #fff;
  font-size: 32px;
  margin: 0 15px;
}
a i.fa:hover {
  color: #d9603b;
}
i.fa.fa-envelope {
  font-size: 1.25em;
  margin: 0 7px 0 0;
}
.btn-main,
#mc-embedded-subscribe.button {
  background: #e87451;
  background-image: -webkit-linear-gradient(top, #e87451, #d9603b);
  background-image: -moz-linear-gradient(top, #e87451, #d9603b);
  background-image: -ms-linear-gradient(top, #e87451, #d9603b);
  background-image: -o-linear-gradient(top, #e87451, #d9603b);
  background-image: linear-gradient(to bottom, #e87451, #d9603b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 3px 0px #C15433;
  -moz-box-shadow: 0px 3px 0px #C15433;
  box-shadow: 0px 3px 0px #C15433;
  font-family: 'LeHavreLayers-Primary', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #fff!important;
  font-size: 18px;
  padding: 15px 40px 15px 40px!important;
  text-decoration: none !important;
  display: inline-block;
  height: auto!important;
  line-height: auto!important;
  border: 0;
  text-align: center;
}
.btn-main:hover,
.btn-main:active,
.btn-main:visited,
#mc-embedded-subscribe.button:hover,
#mc-embedded-subscribe.button:active,
#mc-embedded-subscribe.button:visited {
  background: #f57858;
  color: #fff;
  background-image: -webkit-linear-gradient(top, #f57858, #eb6c49);
  background-image: -moz-linear-gradient(top, #f57858, #eb6c49);
  background-image: -ms-linear-gradient(top, #f57858, #eb6c49);
  background-image: -o-linear-gradient(top, #f57858, #eb6c49);
  background-image: linear-gradient(to bottom, #f57858, #eb6c49);
  text-decoration: none;
}
.btn-secondary {
  background: #e87451;
  background-image: -webkit-linear-gradient(top, #e87451, #d9603b);
  background-image: -moz-linear-gradient(top, #e87451, #d9603b);
  background-image: -ms-linear-gradient(top, #e87451, #d9603b);
  background-image: -o-linear-gradient(top, #e87451, #d9603b);
  background-image: linear-gradient(to bottom, #e87451, #d9603b);
  -webkit-border-radius: 28;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 0px #C15433;
  -moz-box-shadow: 0px 3px 0px #C15433;
  box-shadow: 0px 3px 0px #C15433;
  font-family: 'LeHavreLayers-Primary', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #ffffff !important;
  font-size: 15px;
  padding: 8px 16px;
  text-decoration: none !important;
  position: relative;
  top: -7px;
  margin: 0 20px;
  display: inline-block;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  background: #f57858;
  color: #fff;
  background-image: -webkit-linear-gradient(top, #f57858, #eb6c49);
  background-image: -moz-linear-gradient(top, #f57858, #eb6c49);
  background-image: -ms-linear-gradient(top, #f57858, #eb6c49);
  background-image: -o-linear-gradient(top, #f57858, #eb6c49);
  background-image: linear-gradient(to bottom, #f57858, #eb6c49);
  text-decoration: none;
}
.centered {
  text-align: center;
}
.player {
  margin-top: 20px;
  position: relative;
  padding-top: 53%;
  padding-left: 15px;
  padding-right: 15px;
}
.player .video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.intro {
  background-color: #f6ece9;
  background-image: url(../images/flower-watermark.png);
  background-position: 100% 75%;
  background-repeat: no-repeat;
  padding: 40px 0 60px 0;
  color: #3c2424;
}
.intro .col-md-12 {
  padding-top: 30px;
  padding-bottom: 50px;
}
.intro h2,
.intro h3,
.intro h4 {
  margin: 0 0 10px 0;
  padding: 0;
}
.intro p {
  font-size: 20px;
}
.intro .intro-emphasis p {
  font-size: 24px;
  font-style: italic;
  padding: 0;
}
.intro p.verse {
  color: #ab7565;
  font-style: italic;
  font-size: 16px;
  margin-top: 40px;
}
.intro p.verse-label {
  font-family: 'LeHavreLayers-Primary', sans-serif;
  font-size: 13px;
  color: #3c2424;
}
.intro h2,
.intro h3,
.intro h4 {
  color: #d9603b;
}
.footer {
  text-align: center;
  padding: 0;
}
.footer p {
  font-family: 'LeHavreLayers-Primary', sans-serif;
  font-size: 13px;
  letter-spacing: .2em;
  margin: 1em 0 4em;
}
.footer img.logos-footer {
  height: 50px;
  width: auto;
  margin: 40px 30px;
  display: inline-block;
}
/*----------------------- MAILCHIMP FORM -----------------*/
#mc_embed_signup {
  font-family: 'LeHavreLayers-Primary', sans-serif;
  font-weight: 300;
  padding: 30px 0 50px 0;
}
#mc_embed_signup h2 {
  text-align: center;
  color: #fff;
}
#mc_embed_signup .mc_embed_subscribe {
  width: 100%;
  text-align: center;
}
#mc_embed_signup .indicates-required .asterisk {
  color: #d9603b;
}
#mc_embed_signup .mc-field-group {
  margin: 15px 0;
  padding: 0;
}
#mc_embed_signup .mc-field-group label {
  display: inline-block;
  width: 32%;
  color: #fff;
  padding: 0!important;
}
#mc_embed_signup .mc-field-group input {
  width: 62%;
  display: inline-block;
  border-radius: 5px;
  border: 0;
  height: 40px;
  padding: 5px;
  background-color: #845656;
  font-family: 'neuton', georgia, serif;
  font-size: 20px;
  letter-spacing: .05em;
  color: #fff;
}
#mc_embed_signup .mc-field-group .asterisk {
  display: inline!important;
  color: #d9603b;
}
#mc_embed_signup .mc-field-group .mce_inline_error {
  color: #d9603b;
  font-family: 'neuton', georgia, serif;
  font-style: italic;
}
#mc_embed_signup .mc-field-group #mce-error-response.response {
  margin: 20px 0;
}
/*#mc_embed_signup*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #F6ECE9 inset;
}
/*----------------------- MEDIA QUERIES -----------------*/
/* Landscape phones and portrait tablets */
@media (max-width: 480px) {
  .logo-wrapper {
    height: 400px;
  }
  .family-pict {
    width: 500px;
    position: relative;
    z-index: 2;
    margin-bottom: 200px;
  }
  .logo {
    z-index: 4;
    width: 400px;
    height: auto;
    position: absolute;
    right: 0;
    margin-top: 0px;
  }
  .intro {
    padding: 0 30px;
  }
  #mc_ebed_signup .mc-field-group {
    padding: 0!important;
  }
  #mc_ebed_signup .mc-field-group .asterisk {
    display: inline!important;
    color: #d9603b;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .logo-wrapper {
    height: 425px;
  }
  .family-pict {
    width: 500px;
    position: relative;
    z-index: 2;
    margin-bottom: 70px;
  }
  .logo {
    z-index: 4;
    width: 400px;
    height: auto;
    position: absolute;
    right: 0;
    top: 190px;
  }
  .intro {
    padding: 0;
  }
}
/* ------------------ Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .family-pict {
    width: 500px;
    position: relative;
    z-index: 2;
    margin-bottom: 70px;
  }
  .logo {
    z-index: 4;
    width: 400px;
    height: auto;
    position: absolute;
    right: 0;
    top: 100px;
  }
}
/* ------------------ Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .family-pict {
    width: 650px;
    position: relative;
    z-index: 2;
    margin-bottom: 70px;
  }
  .logo {
    z-index: 4;
    width: 500px;
    height: auto;
    position: absolute;
    right: 0;
    top: 100px;
  }
}
/* ------------------ Large desktops and laptops -- */
@media (min-width: 1200px) {
  .family-pict {
    width: 800px;
    position: relative;
    z-index: 2;
    margin-bottom: 70px;
  }
  .logo {
    z-index: 4;
    width: 550px;
    height: auto;
    position: absolute;
    right: 0;
    top: 100px;
  }
}
