.btn-main, #mc-embedded-subscribe.button {
  background: #e87451;
  background-image: -webkit-linear-gradient(top, #e87451, #D9603B);
  background-image: -moz-linear-gradient(top, #e87451, #D9603B);
  background-image: -ms-linear-gradient(top, #e87451, #D9603B);
  background-image: -o-linear-gradient(top, #e87451, #D9603B);
  background-image: linear-gradient(to bottom, #e87451, #D9603B);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 3px 0px #C15433;
  -moz-box-shadow: 0px 3px 0px #C15433;
  box-shadow: 0px 3px 0px #C15433;
  font-family: $font-display;
    text-transform:uppercase;
    letter-spacing:.1em;
  color: #fff!important;
  font-size: 18px;
  padding: 15px 40px 15px 40px!important;
  text-decoration: none !important;
  display:inline-block;
height:auto!important;
    line-height:auto!important;
  border:0;
    text-align:center;
}

.btn-main:hover, .btn-main:active, .btn-main:visited, #mc-embedded-subscribe.button:hover, #mc-embedded-subscribe.button:active, #mc-embedded-subscribe.button:visited {
  background: #f57858;
    color:#fff;
  background-image: -webkit-linear-gradient(top, #f57858, #eb6c49);
  background-image: -moz-linear-gradient(top, #f57858, #eb6c49);
  background-image: -ms-linear-gradient(top, #f57858, #eb6c49);
  background-image: -o-linear-gradient(top, #f57858, #eb6c49);
  background-image: linear-gradient(to bottom, #f57858, #eb6c49);
  text-decoration: none;
}

.btn-secondary {
  background: #e87451;
  background-image: -webkit-linear-gradient(top, #e87451, #D9603B);
  background-image: -moz-linear-gradient(top, #e87451, #D9603B);
  background-image: -ms-linear-gradient(top, #e87451, #D9603B);
  background-image: -o-linear-gradient(top, #e87451, #D9603B);
  background-image: linear-gradient(to bottom, #e87451, #D9603B);
  -webkit-border-radius: 28;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 0px #C15433;
  -moz-box-shadow: 0px 3px 0px #C15433;
  box-shadow: 0px 3px 0px #C15433;
  font-family: $font-display;
    text-transform:uppercase;
    letter-spacing:.1em;
  color:$color-white !important;
  font-size: 15px;
  padding: 8px 16px;
  text-decoration: none !important;
    position:relative;
    top:-7px;
    margin:0 20px;
    display:inline-block;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background: #f57858;
    color:#fff;
  background-image: -webkit-linear-gradient(top, #f57858, #eb6c49);
  background-image: -moz-linear-gradient(top, #f57858, #eb6c49);
  background-image: -ms-linear-gradient(top, #f57858, #eb6c49);
  background-image: -o-linear-gradient(top, #f57858, #eb6c49);
  background-image: linear-gradient(to bottom, #f57858, #eb6c49);
  text-decoration: none;
}