
/*----------------------- GLOBAL STYLES -----------------*/

.LeHavreLayers-Primary {
	font-family: 'LeHavreLayers-Primary';
	font-weight: normal;
	font-style: normal;
}

body {
    background:$color-dark-brown;
    color:$color-cream-med;
    font-family:$font-serif;
    font-size:18px;
}

.header-wrapper {
    background-image:url('../images/page-back-2000x1300.jpg');
    background-size:cover;
}

.connect-wrapper {
  background-color:#2B171A;
  padding:30px 0 50px 0;
  .row {
    text-align: center;
  }
  .col-md-4:first-child {
    border-right:solid 1px $color-dark-brown;
  }
}

a {
    color:$color-red-light!important;
    &:hover {
    color:$color-red-lighter;
    }
}

p {
    margin-bottom:16px;
}

iframe.video {
  border-radius:4px;
}

.main-content {
    padding:100px 0;
}


img.red-flower {
    height:180px;
    width:180px;
    position:absolute;
    display:inline;
    left:0;
    z-index:1;
    top:-70px;
}

.opener {
    text-align:center;
    font-size:28px;
}

h1,h2,h3,h4,h5,h6 {
    font-family:$font-display;
    text-transform:uppercase;
    letter-spacing:.1em;
}

h2 {
    padding:20px 0;
    color:$color-white;
}

h3 {
    padding:20px 0;
    color:$color-white;
}

h4 {
    padding:20px 0;
    color:$color-white;
}

.svg-inline--fa {
    color:$color-white;
    font-size:32px;
    margin:0 15px;

    &:hover {
    color:$color-red-light;
    }
    &.fa-facebook:hover {
        color:#3b5998;
    }
    &.fa-twitter:hover {
        color:#55acee;
    }
}

.fa-envelope {
    font-size:1.25em;
    margin:0 7px 0 0;
    &:hover {
        color:#fff;
    }
}



.centered {
    text-align:center;
}

.player {
    margin-top:20px;
		position:relative;
		padding-top:53%;
		padding-left:15px;
		padding-right:15px;

		.video {
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:100%;
			// width:350px;
			// height:205px;
		}
}


.intro {
    background-color:$color-cream-light;
    background-image:url(../images/flower-watermark.png);
    background-position:100% 75%;
    background-repeat: no-repeat;
    padding:40px 0 60px 0;
    color:$color-dark-brown;

    .col-md-12 {
    padding-top:30px;
		padding-bottom:50px;
    }

    h2,h3,h4 {
    margin:0 0 10px 0;
    padding:0;
    }

    p {
    font-size:20px;
    }

    .intro-emphasis {

        p {
        font-size:24px;
        font-style:italic;
        padding:0;
        }
    }

    p.verse {
    color:$color-tan;
    font-style:italic;
    font-size:16px;
    margin-top:40px;
    }
    p.verse-label {
    font-family:$font-display;
    font-size:13px;
    color:$color-dark-brown;
    }

    h2,h3,h4 {
    color:$color-red-light;
    }
}

.footer {
    text-align:center;
    padding: 0;

    p {
    font-family:$font-display;
        font-size:13px;
        letter-spacing:.2em;
        margin:1em 0 4em;
    }

    img.logos-footer {
    height:50px;
    width:auto;
    margin:40px 30px;
    display:inline-block;
    }
}

/*----------------------- MAILCHIMP FORM -----------------*/

#mc_embed_signup {
    font-family:$font-display;
    font-weight:300;
    padding:30px 0 50px 0;

    h2 {
    text-align:center;
    color:#fff;
    }

    .mc_embed_subscribe {
    width:100%;
    text-align:center;
    }

    .indicates-required .asterisk {
    color:$color-red-light;
    }

    .mc-field-group {
        margin:15px 0;
        padding:0;

        label {
        display:inline-block;
        width:32%;
        color:$color-white;
        padding:0!important;
        }

        input {
            width:62%;
            display:inline-block;
            border-radius:5px;
            border:0;
            height:40px;
            padding:5px;
            background-color:#845656;
            font-family:$font-serif;
            font-size:20px;
            letter-spacing:.05em;
            color:#fff;
            }

        .asterisk {
        display:inline!important;
        color:$color-red-light;
        }

        .mce_inline_error {
        color:$color-red-light;
        font-family:$font-serif;
        font-style:italic;
        }

        #mce-error-response.response {
        margin:20px 0;
        }

    }
}/*#mc_embed_signup*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F6ECE9 inset;
}

/*----------------------- MEDIA QUERIES -----------------*/

/* Landscape phones and portrait tablets */
@media (max-width: 480px) {
    #mc_ebed_signup .mc-field-group {
        padding:0!important;

        .asterisk {
        display:inline!important;
        color:$color-red-light;
        }
    }

}

.family-pict {
    width:500px;
    max-width:100%;
    position:relative;
    display:inline-block;
    z-index: 2;
    bottom:50px;
        
    @include media-breakpoint-up(sm) {
        width:100%;
        bottom:50px;
    }
    @include media-breakpoint-up(md) {
        width:450px;
        bottom:70px;
        }
    @include media-breakpoint-up(lg) {
        width:60%;
        bottom:40px;
        left:-15px;
    }
}

.logo-wrapper {
    height:80vw;
    @include media-breakpoint-up(sm) { height:70vw; }
    @include media-breakpoint-up(md) { height:50vw; }
    @include media-breakpoint-up(lg) { height:450px; }
}

.logo {
z-index: 4;
max-width:100%;
height:auto;
position:absolute;
right:0;
top:45vw;
    @include media-breakpoint-up(sm) {
        top:40vw;
    }
    @include media-breakpoint-up(md) { 
        width:70%;
        top:20vw;
        }
    @include media-breakpoint-up(lg) {
        width:45%;
        top:60px;
        }
}

.intro {
padding:0;
}

