/* ----------------------- VARIABLES ---------------- */

$color-dark-brown:#3C2424;
$color-red-light:#D9603B;
$color-red-lighter:lighten(#D9603B, 30%);
$color-cream-med:#A58081;
$color-cream-light:#F6ECE9;
$color-white:#fff;
$color-tan:#AB7565;

$font-weight-normal:400;
$font-weightbold:700;
$font-weightx-bold:800;

$font-serif:'neuton',georgia,serif;
$font-display:'LeHavreLayers-Primary',sans-serif;