@charset "UTF-8";
/**
 * @license
 * MyFonts Webfont Build ID 3053315, 2015-07-03T11:54:15-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Global-Medium by DSType
 * URL: http://www.myfonts.com/fonts/dstype/global/medium/
 * Copyright: Copyright &#x00A9; 2012 by Dino dos Santos. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * Webfont: Global-MediumItalic by DSType
 * URL: http://www.myfonts.com/fonts/dstype/global/medium-italic/
 * Copyright: Copyright &#x00A9; 2012 by Dino dos Santos. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * Webfont: Global-MediumStencil by DSType
 * URL: http://www.myfonts.com/fonts/dstype/global/medium-stencil/
 * Copyright: Copyright &#x00A9; 2012 by Dino dos Santos. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * Webfont: LeHavreLayers-Primary by insigne
 * URL: http://www.myfonts.com/fonts/insigne/le-havre-layers/primary/
 * Copyright: Copyright (c) 2008 by Jeremy Dooley. All rights reserved.
 * Licensed pageviews: 1,000,010,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3053315
 * 
 * © 2015 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2e9703");
@font-face {
  font-family: 'LeHavreLayers-Primary';
  src: url("webfonts/2E9703_3_0.eot");
  src: url("webfonts/2E9703_3_0.eot?#iefix") format("embedded-opentype"), url("webfonts/2E9703_3_0.woff2") format("woff2"), url("webfonts/2E9703_3_0.woff") format("woff"), url("webfonts/2E9703_3_0.ttf") format("truetype"); }
